{% extends 'index.html' %}

{% block nav %}
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{{url('index')}}">Home</a></li>
			<li class="breadcrumb-item"><a href="{{url('chain')}}">Chain</a></li>
			<li class="breadcrumb-item"><a href="{{url('new_block')}}">Post Document</a></li>
			<li class="breadcrumb-item active" aria-current="page">Node List</li>
  		</ol>
	</nav>
{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-8">
			<h3>Список найденных узлов:</h3>
			<ul class="list-group">
				{% for i in range(0, response.total_nodes|length) %}
					{% if response.status_nodes[i] == "online" %}
						<div class="alert alert-success" role="alert">
							<li>{{ response.total_nodes[i] }}<span class="badge badge-secondary" style="float: right">{{response.status_nodes[i]}}</span></li>
						</div>
					{% else %}
						<div class="alert alert-danger" role="alert">
							<li>{{ response.total_nodes[i] }}<span class="badge badge-secondary" style="float: right">{{response.status_nodes[i]}}</span></li>
						</div>
					{% endif %}
				{% endfor %}
			</ul>
	</div>
{% endblock %}
